# Backend
backend/target/
backend/logs/
backend/test-results/

# Frontend
frontend/node_modules/
frontend/dist/

# Rapports Lighthouse générés localement
frontend/lighthouse*.json
frontend/lighthouse*.html
frontend/*.report.html

# Variables sensibles
.env

# Stockage local des fichiers DataShare
uploads/

# IDE / système
.vscode/
.idea/
*.log

# Playwright
frontend/playwright-report/
frontend/test-results/
