# Backend
backend/target/

# Frontend
frontend/node_modules/
frontend/dist/

# Variables sensibles
.env

# Stockage local des fichiers DataShare
uploads/

# IDE / système
.vscode/
.idea/
*.log

# Playwright
frontend/playwright-report/
frontend/test-results/