# Backend
backend/target/
backend/logs/
backend/test-results/

# Frontend
frontend/node_modules/
frontend/dist/

# Rapports temporaires Lighthouse
frontend/lighthouse-performance.html
frontend/lighthouse-performance.json

# Variables sensibles
.env

# Stockage local des fichiers DataShare
uploads/

# IDE / système
.vscode/
.idea/
*.log

# Playwright
frontend/playwright-report/
frontend/test-results/